.carousel-item {
  width: 800px;
  height: 500px;
  transition: 1.5s;
}

.carousel {
  width: 800px;
  height: 500px;
}
img {
  width: 800px;
  height: 500px;
  opacity: 0.9;
  border-radius: 30px;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url("./photo/b.avif");
  background-size: cover;
  background-position: center;
}
